.header{
    border: 1px solid #293F50;
    min-height: 450px;
    background-color: #293F50;
    color: white;
    font-weight: 50px;
}

.h1{
    font-weight: 10px;
    padding: 50px;
    display: flex;
}

.bighead{
    font-size: 55px;
    margin-left: 150px;
}

.date{
    margin-left: 300px;
}

.navbarul li{
    display: inline;
}

.main{
    border: 1px solid white;
    min-height: 450px;
    background-color: white;
    display: flex;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
   
}

.main div{
    padding: 30px;
}

.box{
    margin-left: 2%;
    margin-right: 2%;  
}

.head {
    margin-bottom: 20px;
}

.image{
    border-top: 20px;
}
.footer{
    border: 1px solid #293F50;
    min-height: 150px;
    background-color: #293F50;
    margin-top: 100px;
}