.header {
    border: 1px solid #293F50;
    background-color: #293F50;
    color: white;
}

.heading a{
    color: white;
}
.menu{
    display: flex;
    height: 150px;
   
}

.heading{
    font-size: 55px;
    margin-left: 200px;
    margin-top: 50px;
}

.menulist{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 250px;
    line-height: 3em;
      
}

.date{
    margin-left: 70px;
}

.navbarul{
    list-style-type: none;   
}

.navbarul li{
    display: inline;
    padding-right: 40px;
      
}

.navbarul li a:hover{
   background-color: #8bb1ce;
    
}
.navbarul li a{
    color: white;
    
}

.header2{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    margin-top: 50px;
    background-color: #648880;
    height: 200px;
}

.para1{
    font-size: 36px;
    color: #a4cbe9;
    margin-top: 50px;
    margin-bottom: 30px;
}

.para2{
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.main{
    border: 1px solid white;
    height: 450px;
    display: flex;
    width: 70%;
}

.advert{
    margin-top: 100px;
    margin-left: 150px;
}

.p1{
    color: rgb(33, 131, 98);
    margin-bottom: 10px;
}

.p2{
    margin-bottom: 20px;
    color: gray;
}

.p3{
    margin-bottom: 20px;
    color: gray;
    text-align: justify;
} 

.p4{
    color: rgb(33, 131, 98);
    margin-bottom: 20px;
}

.ul{
    color: gray;
}

.labelbox{
    margin-left: 50px;
    margin-top: 100px;
    flex: 1;
}

.form{
    display: grid;
}

.input{
    border: 0.1px solid black; 
    padding: 8px;
    width: 200%;border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.label{
    width: 200%;
}

.inputnumber{
    width: 30%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 3px;
}

.textarea{
    border: 0.5px solid black; 
}

.lastbutton{ 
    padding: 15px;
    font-size: 18px;
    border: 1px solid white;
    background-color:#205b88;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
}

.lastbutton a{
    color: white;
}

.footer{
    border: 1px solid #293F50;
    min-height: 100px;
    background-color: #293F50;
    margin-top: 100px;
    display: flex;
    
}

.footpara{
    margin-left: 200px;
    margin-top: 50px;
    color: white;
}

.footerul{
    margin-left: 300px;
    margin-top: 50px;
}

.footerul li{
    list-style-type: none;
    display: inline;
    padding: 40px;
    color: white;
      
}.footerul li a{
    color: white;
}